.participant {
    margin-top: -90px;
}

.participant h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.participant .flex {
    overflow: hidden;
}

.participant .images {
    margin: 0px 25px; /* Adjust the margin as needed */
    animation: moveLeftToRight 5s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-150%);
    }
}
