body {
  background-color: black;
}


.right-side-score {
  font-size: 3rem;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Make the text bold */
  color: #e91818;
  margin-left: auto;
  text-align: right;


}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-8 {
  margin: 2rem;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* Add space between buttons */
  margin-bottom: 1rem;
}

.filter-buttons button {
  margin: 0 0.5rem;
  /* Optional additional margin if needed */
}
.matches-container {
  padding: 16px;
}

.filters {
  margin-bottom: 16px;
}

.match-card {
  min-height: 150px;
}

.team-flags {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.team-flags img {
  width: 40px;
  height: 40px;
}

.player-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.player-info img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
