/* src/pages/HomePage.css */
.slider {
    display: flex;
    
  }
  .slide {
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    height: 700px;
    transition: all 2s ease;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 320px;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    font-size: 60px;
    color: aliceblue;
  }
  .left-arrow:hover{
    box-shadow: 0px 0px 10px black;
  }
  .right-arrow:hover{
    box-shadow: 0px 0px 10px black;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .active {
    opacity: 1;
    z-index: 1;

  }

  @media (max-width:415px){
    .slide{
      width: 100%;
      overflow: hidden;
    }
    .slide img{
      transform: scale(1.5);
      position: relative;
      top: 70px;
    }
    .left-arrow{
      
      top: 200px;
    }
    .right-arrow{
      
      top: 200px;
    }

  }

  @media (max-width:431px){
    .slide{
      width: 100%;
      overflow: hidden;
    }
    .slide img{
      transform: scale(1.5);
      position: relative;
      top: 70px;
    }

    
    
  }
  