::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change to your preferred background color */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #b91111; /* Change to your preferred handle color */
  border-radius: 100px; /* Change the radius if desired */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change to your preferred handle color on hover */
}
